/** @format */

.pending-purchases__list-item.card {
	.pending-purchases__list-item-wrapper {
		display: flex;
	}

	.pending-purchases__list-item-details,
	.pending-purchases__list-item-plan-icon {
		flex: 1;
	}
}

.pending-purchases__list-item-purchase-date,
.pending-purchases__list-item-purchase-type {
	line-height: 14px;
	margin-top: 2px;
}

.pending-purchases__list-item-title {
	color: $blue-wordpress;
	display: block;
	font-size: 14px;
	line-height: 1.2em;
	margin: 4px 20px 4px 0;
	overflow: hidden;
	position: relative;
	white-space: nowrap;

	&:after:not( .is-placeholder ) {
		@include long-content-fade();
	}

	@include breakpoint( '>480px' ) {
		font-size: 18px;
		max-width: none;
	}
}

.pending-purchases__list-item-purchase-type {
	color: $gray-text-min;
	font-size: 12px;
	margin: 0 0 4px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pending-purchases__list-item-purchase-date {
	color: $gray-dark;
	font-size: 12px;
}
