/** @format */

.purchase-icon {
	margin: 0 8px 0 0;
	max-width: 32px;
	width: 32px;

	.gridicon {
		padding: 4px;
		background: $blue-medium;
		fill: $white;
	}

	.gridicons-domains {
		border-radius: 50%;
	}

	.gridicons-themes {
		border-radius: 4px;
	}
}
